## SQL And SQLite

SQL (Structure Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing verious SQL operations.

In [1]:
import sqlite3

In [3]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [6]:
## Create a Table
cursor.execute('''
create table if not exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               )
               ''')

#Commit the changes
connection.commit()

In [7]:
cursor.execute('''
Select * from employees
               ''')

In [11]:
## Insert data in sqlite3
cursor.execute('''
Insert into employees(name, age, department)
               values("Thang", 23, 'IT');
               ''')
cursor.execute('''
Insert into employees(name, age, department)
               values("Chau", 24, 'Dev');
               ''')
cursor.execute('''
Insert into employees(name, age, department)
               values("Anh", 23, 'NY');
               ''')
connection.commit()

In [12]:
cursor.execute('''
Select * from employees
               ''')

In [13]:
## Query data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# Print
for row in rows:
    print(row)

(1, 'Thang', 23, 'IT')
(2, 'Chau', 24, 'Dev')
(3, 'Anh', 23, 'NY')

In [15]:
## Update data
cursor.execute('''
UPDATE employees
               set age = 34 where name like 'C%';
               ''')

In [16]:
## Query data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# Print
for row in rows:
    print(row)

(1, 'Thang', 23, 'IT')
(2, 'Chau', 34, 'Dev')
(3, 'Anh', 23, 'NY')

In [19]:
## Can also delete data
cursor.execute('''Delete from employees where department = "IT"''')

In [20]:
## Query data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# Print
for row in rows:
    print(row)

(2, 'Chau', 34, 'Dev')
(3, 'Anh', 23, 'NY')

In [22]:
# Bulk statement
new_emp = [('Hai', '24', 'Sales'),
           ('Ly','25','Teacher')]
cursor.executemany('''Insert into employees (name, age, department) values (?,?,?)''', new_emp)
connection.commit()

In [26]:
cursor.execute("Select * from employees")

rows = cursor.fetchall()

print(rows)

[(2, 'Chau', 34, 'Dev'), (3, 'Anh', 23, 'NY'), (4, 'Hai', 24, 'Sales'), (5, 'Ly', 25, 'Teacher')]

In [27]:
# Close connection
connection.close()